---
import Layout from '../layouts/Layout.astro';
---

<Layout title="mirky" showNavbar={false} showFooter={false}>
    <div class="flex min-h-screen flex-col items-center justify-center px-4 sm:px-8">
        <img src="/logo.svg" class="h-24 w-auto" alt="mirky logo" />
		<p class="text-md text-foreground/60 text-center">
			coming soon.
        </p>
    </div>
</Layout>